* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'roboto';
    src: url('./RobotoCondensed-Regular.ttf');
}
body {
    font-family: roboto;
}

h1 {
    font-family: 'Tangerine', serif;
    text-align: center;
    text-shadow: 4px 4px 4px #aaa;
    padding-bottom: 20px;
}
.empty {
    width: 100vw;
    height: 10vh;
}
.container {
    display: grid;
    height: 90vh;
    grid-template-rows: auto 1fr;
    gap: 24px;
    grid-area: 40px;
    grid-template-areas: "header header" "data pic";
}

.header {
    grid-area: header;
    background-color: rgb(56, 121, 101);
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* font-family: roboto; */
    font-family: 'Tangerine', serif;
    border-bottom: 2px solid rgb(152, 198, 187);
    /* position: fixed; */

}
ul a {
    color: aliceblue;
    text-decoration: none;
}
ul a:hover {
    background-color: aliceblue;
    color: black;
    padding: 15px;
    border-radius: 20px;
}
.data {
    grid-area: data;
    background-color: aquamarine;
    padding: 10px;
    height: 500px;
    justify-items: center;
    margin-left: 30px;
    width: 500px;
    border: 2px solid rgb(152, 198, 187);
    border-radius: 20px;
}
.data h2 {
    font-family: 'Tangerine', serif;
    font-size: 1.5rem;
    text-shadow: 4px 4px 4px #aaa;
    font-style: italic;
}
.pic {
    grid-area: pic;
    /* width: 100%;
    max-width: 400px; */
    width: 700px;
    height: 600px;
    /* background-color: black; */
    align-items: center;
}
.pic img {
    width: 700px;
    height: 500px;
    border: 2px solid rgb(152, 198, 187);
    border-radius: 20px;
}
.pic, .data {
    justify-items: center;
}
.header img {
    width: 150px;
    height: 120px;
    border: 2px solid black;
    object-fit: cover;
    margin-left: 30px;
    margin-top: 5px;
}
.header ul {
    color:aliceblue;
    width: 60%;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
ul {
    list-style-type: none;
}
footer {
    position: fixed;
    width: 100vw;
    height: 40px;
    background-color: black;
}
footer img {
    width: 100%;
    height: 100%;
    max-width: 90px;
    max-height: 30px;
}
section {
    margin: 20px auto;
}
.indi-flora {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    width: 90vw;
    margin: 20px auto;
}

.item {
    border: 2px solid black;
    background-color: rgb(193, 235, 222);
    width: 100%;
    max-width: 350px;
}
.item>img {
    /* width: 100%;
    height: 100%;
    max-width: 350px;
    height: 300px; */
    width: 350px;
    height: 300px;
    border: 2px solid black;
    object-fit: cover;
    margin: 0;
    border: none;
}
.item>h2 {
    padding: 10px auto;
    text-align: center;
}
.item>article {
    padding: 5px 0 10px 10px;
}
span {
    font-weight: bold;
}
/* article {
    word-wrap: break-word;
} */
/* .data {
    
    grid-row-start: 2;
    grid-row-end: 4;
    
} */
/* .image {
    width: 400px;
    height: 150px; */
    /* border-color: black;
    border: 3px solid red;
    z-index: 10; */
/* } */
